{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<header id="header">
   <div class="header-content">
    <h1>Bienvenue sur CinéArchives</h1>
    <p>Vaste base cinématographique, trésors filmiques immortalisés en ligne.</p>
    </div>
</header>
<div class="content">
    <div class="cards">
    <div class="card">
      <img src="https://www.intelligence-artificielle-school.com/wp-content/uploads/2022/11/718285-avatar-2-a-enfin-sa-date-de-sortie-en-france-1-1368x513.jpeg" alt="Avatar">
       <div class="card-content">
       <p class="card-title">Avatar</p>
       <p class="card-description">Film de science fiction réalisé par J.Cameron</p>
    <p class="card-year">2009</p>
    </div>
    </div>
    </div>
</div>
<footer id="footer"></footer>

{% endblock %}
